.jumbotron {
	width: 700px;
	margin: 20px auto;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
h3 {
	margin-bottom: 30px;
}
h6 {
	font-size: 16px;
}
.table {
	margin-top: 20px;
}
.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: yellow;
}
.negrito {
	font-weight: bold;
}
footer {
	text-align: center;
}