<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista telefônica</title>
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 700px;
			margin: 20px auto;
			text-align: center;
			padding-left: 40px;
			padding-right: 40px;
		}
		h3 {
			margin-bottom: 30px;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		footer {
			text-align: center;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99998888", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}, data: new Date()},
				{nome: "Ana", telefone: "99997777", operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}, data: new Date()},
				{nome: "Maria", telefone: "99996666", operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}, data: new Date()}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular"},
				{nome: "Vivo", codigo: 15, categoria: "Celular"},
				{nome: "Tim", codigo: 41, categoria: "Celular"},
				{nome: "GVT", codigo: 25, categoria: "Fixo"},
				{nome: "Embratel", codigo: 41, categoria: "Fixo"}
			];
			$scope.cores = [
				{nome: "Azul", valor: "blue"},
				{nome: "Verde", valor: "green"},
				{nome: "Vermelho", valor: "red"}
			];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input ng-model="criterioDeBusca" class="form-control" type="text" placeholder="O que você está buscando?">
		<table ng-show="contatos.length > 0" class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th>Cor</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:'nome'">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome | uppercase}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor.valor}"></div></td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input ng-model="contato.nome" ng-required="true" ng-minlength="10" name="nome" class="form-control" type="text" placeholder="Nome">
			<input ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" name="telefone" class="form-control" type="text" placeholder="Telefone">
			<select ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" class="form-control">
				<option value="">Selecione uma operadora</option>
			</select>
			<select ng-model="contato.cor" ng-options="cor.nome for cor in cores" class="form-control">
				<option value="">Selecione uma cor</option>
			</select>
		</form>

		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o nome!
			</div>
			<div ng-message="minlength">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o telefone!
			</div>
			<div ng-message="pattern">
				O campo telefone deve ter o formato DDDDD-DDDD.
			</div>			
		</div>

		<button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" class="btn btn-primary btn-block">Adicionar Contato</button>
		<!-- ng-show (aparece quando contato for selecionado) -->
		<!-- <button ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Apagar Contatos</button> -->
		<!-- ng-hide (esconda se nenhum contato for selecionado)  -->
		<!-- <button ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Apagar Contatos</button> -->
		<!-- ng-if (aparece quando contato for selecionado, porém o botão interage com a DOM, incluindo e excluindo da DOM)  -->
		<button ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" class="btn btn-danger btn-block">Apagar Contatos</button>
	</div>
	<footer ng-include="'footer.html'"></footer>	
</body>
</html>